extends ./layout/index

block contenido

    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et ornare felis, a faucibus massa. Aliquam malesuada varius tristique. Nulla facilisi. Mauris mauris dui, vestibulum at ullamcorper et, feugiat tempor eros. Fusce interdum suscipit augue et volutpat. Sed nibh est, accumsan et metus quis, lacinia aliquam lorem. Praesent risus lorem, imperdiet ac quam non, rhoncus rutrum libero. Mauris sed ullamcorper eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent finibus diam eu sem ultricies iaculis.

                p Ut massa quam, eleifend non ultrices quis, iaculis vitae mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed tempor facilisis metus, ac vulputate nunc iaculis eget. In sit amet sem interdum, dictum neque a, bibendum arcu. Morbi lacinia ornare orci a varius. In lacinia, est quis vulputate vehicula, mauris ante cursus ante, finibus dapibus est ligula vel elit. Quisque venenatis

                p In lacinia eleifend tellus eu interdum. Nam ut aliquam nulla. Sed facilisis eros ac sapien auctor sollicitudin. Sed blandit ullamcorper purus, accumsan faucibus arcu porttitor vitae. Sed a purus et lectus sollicitudin auctor. Donec laoreet eget odio in faucibus. Duis ullamcorper vehicula mauris, eu ornare enim fermentum ut. Praesent eget fermentum sem.

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad"  class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Donec laoreet eget odio in faucibus. Duis ullamcorper vehicula mauris, eu ornare enim fermentum ut. Praesent eget fermentum sem.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad"  class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p  Donec laoreet eget odio in faucibus. Duis ullamcorper vehicula mauris, eu ornare enim fermentum ut. Praesent eget fermentum sem.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad"  class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p  Donec laoreet eget odio in faucibus. Duis ullamcorper vehicula mauris, eu ornare enim fermentum ut. Praesent eget fermentum sem.
